<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.messychef">

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessyChef"
        tools:ignore="AllowBackup">
        <service
            android:name=".ImportExportService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name=".timer_service.TimerNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".timer_service.TimerService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ExecuteRecipeActivity"
            android:parentActivityName=".ShowRecipeActivity">
            <intent-filter>
                <action android:name="com.example.messychef.activity.OPEN_TIMER_VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowRecipeActivity"
            android:parentActivityName=".RecipeListActivity" />
        <activity android:name=".AddTimerActivity" />
        <activity android:name=".AddProcessStepActivity" />
        <activity android:name=".TakeIngredientActivity" />
        <activity android:name=".ManageStepListActivity" />
        <activity android:name=".ManageIngredientListActivity" />
        <activity android:name=".AddRecipeStepActivity">
            <intent-filter>
                <action android:name="com.example.messychef.activity.ADD_RECIPE_STEP_ACTIVITY" />
            </intent-filter>
        </activity>
        <activity android:name=".ModifyStepActivity" />
        <activity android:name=".ModifyTimerStepActivity" />
        <activity android:name=".AddIngredientActivity" />
        <activity android:name=".ModifyIngredientActivity" />
        <activity android:name=".ModifyProcessStepActivity" />
        <activity android:name=".ModifyTakeIngredientActivity" />
        <activity android:name=".AddRecipeActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeListActivity"
            android:parentActivityName=".SplashActivity" />
    </application>

</manifest>